body {
    font-family: "Courier New", Courier, monospace; 
    background-color: #fffacd; 
    padding: 20px; 
}

h1 {
    text-decoration: underline; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botones-prioridad button {
    border-radius: 5px; 
}

button {
    border: 1px solid black; 
    margin-right: 5px; 
    padding: 5px 10px; 
    cursor: pointer; 
}

.bloques-tareas {
    display: flex;
}

.bloque ul li {
    font-family: "Segoe Script", "Brush Script MT", cursive; 
}

.bloque {
    border: 1px solid black;
    margin-right: 10px;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
